$font: Roboto, sans-serif;
$width-content: 1170px;
$padding-content: 0 15px;
$main-color: #2C507A;
$text-color: #333;

html {
    font-family: $font;
    font-weight: bold;
}

header {
    position: fixed;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(30,30,30, 0.5);
    z-index: 1000;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $width-content;
        padding: 15px 15px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

.width-content {
    width: $width-content;
    margin: 0 auto;
    padding: $padding-content;
    box-sizing: border-box;
}

.menu {
    display: flex;
    li {
        a {
            padding: 10px;
            border-radius: 10px;
            transition: all .3s ease;
            &:hover {
                color: white;
                background-color: $main-color;
            }
        }
    }
}

.logo_nav {
    a {
        width: 100%;
        height: 100%;
        img {
            width: 120px;
        }
    }
}

.main {
    position: relative;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}

.container-one {
    position: relative;
    display: flex;
    align-items: center;
    height: 800px;
    background-image: url(./img/conf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
}

.title_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100vw;
    margin: 0 auto;
    background-color: $main-color;
    z-index: 101;
    .title__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $width-content;
        padding: $padding-content;
    }
}

.title__left {
    width: 45%;
    padding-right: 30px;
    text-align: right;
    color: white;
    font-size: 50px;
    font-weight: bold;
    border-right: 2px solid white;
}

.title__right {
    width: 55%;
    padding-left: 30px;
    text-align: left;
    color: white;
    font-size: 34px;
    box-sizing: border-box;
    p {
        font-size: 20px;
        margin-top: 20px;
        font-weight: 300;
    }
}

.container-two {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 100px;
    .left-column__title {
        color: $main-color;
        font-size: 32px;
        width: 66%;
        height: 130px;
        box-sizing: border-box;
        span {
            font-weight: 300;
        }
    }
    
    .right-column__title {
        box-sizing: border-box;
        width: 34%;
        text-align: right;
        color: $text-color;
        font-weight: 300;
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            box-sizing: border-box;
            li {
                position: relative;
                font-size: 35px;
                font-weight: bold;
                min-width: 42px;
                text-align: center;
                margin: 5px;
                padding: 5px 5px 25px 5px;
                background-color: #EFEFEF;
                box-sizing: border-box;
                &::before {
                    content: 'Днів';
                    position: absolute;
                    font-size: 1rem;
                    bottom: 4px;
                    right: 2px;
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $main-color;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}

#hours::before {
    content: 'Год.';
}

#minutes::before {
    content: 'Хв.';
}

#seconds::before {
    content: 'Сек.';
}