@charset "UTF-8";
html {
  font-family: Roboto, sans-serif;
}

header {
  position: fixed;
  width: 100vw;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px rgba(30, 30, 30, 0.5);
          box-shadow: 0 0 2px rgba(30, 30, 30, 0.5);
  z-index: 1000;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  padding: 15px 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.width-content {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li a {
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-weight: bold;
}

.menu li a:hover {
  color: white;
  background-color: #2C507A;
}

.logo_nav a {
  width: 100%;
  height: 100%;
}

.logo_nav a img {
  width: 120px;
}

.main {
  position: relative;
  height: auto;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-one {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 800px;
  background-image: url(./img/conf.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
}

.title_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 100vw;
  margin: 0 auto;
  background-color: #2C507A;
  z-index: 101;
}

.title_container .title__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
  padding: 0 15px;
}

.title__left {
  width: 45%;
  padding-right: 30px;
  text-align: right;
  color: white;
  font-size: 50px;
  font-weight: bold;
  border-right: 2px solid white;
}

.title__right {
  width: 55%;
  padding-left: 30px;
  text-align: left;
  color: white;
  font-size: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title__right p {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
}

.container-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 100px;
}

.container-two .left-column__title {
  color: #2C507A;
  font-size: 32px;
  width: 66%;
  height: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
}

.container-two .left-column__title span {
  font-weight: 300;
}

.container-two .right-column__title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 34%;
  text-align: right;
  color: #333;
  font-weight: 300;
}

.container-two .right-column__title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-two .right-column__title ul li {
  position: relative;
  font-size: 35px;
  font-weight: bold;
  min-width: 42px;
  text-align: center;
  margin: 5px;
  padding: 5px 5px 25px 5px;
  background-color: #EFEFEF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-two .right-column__title ul li::before {
  content: 'Днів';
  position: absolute;
  font-size: 1rem;
  bottom: 4px;
  right: 2px;
}

.container-two .right-column__title ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2C507A;
  bottom: 0;
  left: 0;
}

#hours::before {
  content: 'Год.';
}

#minutes::before {
  content: 'Хв.';
}

#seconds::before {
  content: 'Сек.';
}

.left-column__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 64%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.left-column__content p {
  padding-top: 1rem;
  line-height: 1.4rem;
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  margin-top: 20px;
  padding-bottom: 56.25%;
  background-color: #000000;
}

.video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  padding: 0;
  width: 68px;
  height: 48px;
  border: none;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.video__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video__button-icon {
  fill: #ffffff;
}

.video__button:focus {
  outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

/* Enabled */
.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
}
/*# sourceMappingURL=style.css.map */