@charset "UTF-8";
.text__p, .container-two__content .left-column__content p, .cause ol li, .science-program, .lector-description .who-is, .lector-description .lecture-topic {
  color: #333;
  line-height: 1.4rem;
  font-weight: 300;
}

.text__h3, .container-two .container-two__title .left-column__title, .cause h4, .science-program h3, .six-title h3 {
  color: #2C507A;
  font-size: 1.6rem;
  font-weight: bold;
}

.text__h4, .science-program h4, .container-five h4, .lector-description .name-lector {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2C507A;
}

html {
  font-family: Roboto, sans-serif;
}

header {
  position: fixed;
  width: 100vw;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px rgba(30, 30, 30, 0.5);
          box-shadow: 0 0 2px rgba(30, 30, 30, 0.5);
  z-index: 1000;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  padding: 15px 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.width-content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li a {
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-weight: bold;
}

.menu li a:hover {
  color: white;
  background-color: #2C507A;
}

.logo_nav a {
  width: 100%;
  height: 100%;
}

.logo_nav a img {
  width: 120px;
}

.main {
  position: relative;
  height: auto;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-one {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 800px;
  background-image: url(./img/conf.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
}

.title_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 100vw;
  margin: 0 auto;
  background-color: #2C507A;
  z-index: 101;
}

.title_container .title__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  min-width: 600px;
  padding: 0 15px;
}

.title__left {
  width: 45%;
  padding-right: 30px;
  text-align: right;
  color: white;
  font-size: 50px;
  font-weight: bold;
  border-right: 2px solid white;
}

.title__right {
  width: 55%;
  padding-left: 30px;
  text-align: left;
  color: white;
  font-size: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title__right p {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
}

.container-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 100px;
}

.container-two .container-two__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto;
  height: auto;
}

.container-two .container-two__title .left-column__title {
  font-size: 2.1rem;
  width: 66%;
  min-width: 710px;
  height: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-two .container-two__title .left-column__title span {
  font-weight: 300;
}

.container-two .container-two__title .right-column__title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 34%;
  text-align: right;
  color: #333;
  font-weight: 300;
}

.container-two .container-two__title .right-column__title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-two .container-two__title .right-column__title ul li {
  position: relative;
  font-size: 35px;
  font-weight: bold;
  min-width: 50px;
  text-align: center;
  margin: 5px;
  padding: 5px 5px 25px 5px;
  background-color: #EFEFEF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-two .container-two__title .right-column__title ul li::before {
  content: 'Днів';
  position: absolute;
  font-size: 1rem;
  bottom: 4px;
  right: 2px;
}

.container-two .container-two__title .right-column__title ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2C507A;
  bottom: 0;
  left: 0;
}

#hours::before {
  content: 'Год.';
}

#minutes::before {
  content: 'Хв.';
}

#seconds::before {
  content: 'Сек.';
}

.container-two__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-two__content .left-column__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 64%;
  min-width: 690px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Enabled */
}

.container-two__content .left-column__content .video {
  position: relative;
  width: 100%;
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 56.25%;
  background-color: #000000;
}

.container-two__content .left-column__content .video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-two__content .left-column__content .video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.container-two__content .left-column__content .video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  padding: 0;
  width: 68px;
  height: 48px;
  border: none;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.container-two__content .left-column__content .video__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.container-two__content .left-column__content .video__button-icon {
  fill: #ffffff;
}

.container-two__content .left-column__content .video__button:focus {
  outline: none;
}

.container-two__content .left-column__content .video:hover .video__button-shape,
.container-two__content .left-column__content .video__button:focus .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.container-two__content .left-column__content .video--enabled {
  cursor: pointer;
}

.container-two__content .left-column__content .video--enabled .video__button {
  display: block;
}

.container-two__content .left-column__content p {
  padding: 7px;
}

.right-column__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 36%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.right-column__content .img__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 370px;
  max-height: 390px;
  overflow: hidden;
  margin-bottom: 15px;
}

.img__inner {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.img__inner img {
  -o-object-fit: cover;
     object-fit: cover;
}

.attention {
  position: relative;
  width: 100%;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2C507A;
  color: white;
  font-weight: bold;
  line-height: 1.4rem;
  margin-bottom: 20px;
}

.attention p {
  color: white !important;
}

.attention::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: lightgray;
  left: 0;
  top: -10px;
}

.cause {
  position: relative;
  margin-bottom: 25px;
}

.cause h4 {
  margin-bottom: 10px;
}

.cause ol li {
  padding: 7px 0px;
}

.cause ol li:last-child {
  margin-bottom: 30px;
}

.cause::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: lightgray;
  left: 0;
  bottom: 21px;
}

.science-program h3 {
  font-size: 2.1rem;
  margin-bottom: 40px;
}

.science-program h4 {
  margin-bottom: 25px;
}

.science-program li {
  color: #868585;
  font-size: 1.3rem;
  line-height: 2rem;
  list-style: initial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-four {
  position: relative;
  background-image: url(./img/938801.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 360px;
  margin-top: 40px;
  z-index: 2;
  padding: 15px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-four .four__title {
  min-height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-four .four__title p {
  width: 80%;
  text-align: center;
  font-size: 2.1rem;
  color: white;
  line-height: 3rem;
}

.btn {
  width: 40%;
  border: 2px solid white;
  font-size: 1.3rem;
  padding: 15px;
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
  background: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn a {
  color: white;
}

.btn:hover {
  background-color: slateblue !important;
}

.opacity-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(44, 80, 122, 0.9);
  left: 0;
  top: 0;
  z-index: -1;
}

.container-five {
  position: relative;
  margin-top: 50px;
}

.container-five h4 {
  margin-bottom: 25px;
}

.container-five ul li {
  color: #868585;
  font-size: 1.3rem;
  line-height: 2rem;
  list-style: initial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-five::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: lightgray;
  left: 0;
  bottom: -12px;
}

.container-six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

.six-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 180px;
  padding: 10px 0px;
}

.six-title h3 {
  font-size: 3rem;
  text-align: center;
}

.six-title p {
  color: #868585;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
}

.lectors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lectors .lector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  min-width: 340px;
}

.lector-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 30%;
  min-width: 340px;
}

.img-lector {
  width: 100%;
  overflow: hidden;
}

.img-lector img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lector-description .name-lector {
  font-size: 1.8rem;
  padding: 10px 0px;
}

.lector-description .who-is {
  font-size: 1.1rem;
}

.lector-description .lecture-topic {
  font-size: 1.1rem;
  color: #2C507A;
  font-weight: bold;
  margin-top: 15px;
}

.container-seven {
  position: relative;
  width: 100%;
  min-height: 500px;
  background: url(./img/conf.jpg) center no-repeat;
  margin-top: 70px;
  z-index: 2;
}

.cultural-program {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cultural-program__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cultural-title__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  min-width: 612px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cultural-title__inner p:first-child {
  font-weight: bold;
  font-size: 2.2rem;
  color: white;
  margin-bottom: 10px;
}

.cultural-title__inner p {
  font-size: 1.2rem;
  color: white;
  line-height: 1.4rem;
}

.cultural-title__inner p span {
  font-weight: bolder;
}

.cultural-title__inner p:nth-child(2) {
  margin: 10px 0px;
}

.cultural-title__inner .btn {
  border-radius: 5px;
  width: 20%;
}

.cultural-program__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.cultural-program__img .cultural-img__inner {
  max-width: 370px;
  max-height: 250px;
  overflow: hidden;
}

.cultural-program__img .cultural-img__inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */